<div class="card container" ng-controller="questionsCtrl" style="padding: 2%;">
  
  <div class="card-heading">
  <h2 style="display: inline;"><span class="pull-right">
  <span id="minutes"></span>:<span id="seconds"></span>
  </span></h2>
    <h2>Level 1: Question {{currentQuestion}}</h2>    
  </div>
    <div ng-repeat="question in filteredQuestions">
  <div class="card-body" style="margin-bottom: 2%;">
  <div class="row">
    <div class="col-md-12 animated bounce">
      <span style="font-size: 4em; text-align: center; margin-left: 43%;"><i class="fa fa-cubes text-warning"></i></span>
    </div>

    <div class="col-md-12 animated rubberBand" style="margin-bottom: 3%;">
      <h4 align="center" class="text-primary">{{question.question}} <br><br> Answer: {{question.answer}} +++ {{userScore}}</h4>
    </div>

    <br>

    <h5 align="center">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12" style="margin-right: -13%;" ng-repeat="option in question.options">
          <button md-ink-ripple class="md-btn md-raised m-b btn-fw purple-400 animated fadeIn btn-large" id="{{option.id}}" name="{{option.name}}" ng-click="checkAns(question.id,option.id,currentQuestion + 1)">{{option.name}}</button>
      </div>
    </div>
    </h5>

  </div>
  </div>
  </div>
    <!-- Pause Button -->
        <button md-ink-ripple class="md-btn md-fab md-raised red m-r md-fab-offset pull-left animated bounce" tooltip-placement="left" tooltip-animation="true" tooltip="Pause Game" ng-click="pauseGame()"><i class="mdi-av-pause i-24"></i></button>

        <!-- Hint Button -->
        <button md-ink-ripple class="md-btn md-fab md-raised green-600 m-r md-fab-offset pull-right animated bounceInUp" tooltip-placement="right" tooltip-animation="true" tooltip="Hint" ng-click="showHint()"><i class="mdi-action-info-outline i-24"></i></button>

        <!-- Save Button -->
        <h5 align="center" style="margin-top: 3%;">
          <button md-ink-ripple class="md-btn md-fab blue m-r md-fab-offset" tooltip-placement="bottom" tooltip-animation="true" tooltip="Save" ng-click="next(currentQuestion + 1)" >
            <i class="mdi-content-save i-24"></i>
          </button></h5>
      </div>
</div>
