<div class="card container" ng-controller="questionsCtrl" style="padding: 2%;">
  
  <div class="card-heading">
  <h2 style="display: inline;"><span class="pull-right">03:32</span></h2>
    <h2>Level 1: Question {{qid}}</h2>    
  </div>

  <div class="card-body" style="margin-bottom: 2%;">
  <div class="row">
    <div class="col-md-12 animated bounce">
      <span style="font-size: 4em; text-align: center; margin-left: 43%;"><i class="fa fa-cubes text-warning"></i></span>
    </div>

    <div class="col-md-12 animated rubberBand" style="margin-bottom: 3%;">
      <h4 align="center" class="text-primary">{{Question}} <br><br> Answer: {{Answer}}</h4>
    </div>

    <br>

    <h5 align="center">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12" style="margin-right: -13%;">
      <button md-ink-ripple class="md-btn md-raised m-b btn-fw purple-400 animated fadeIn btn-large">{{Options.A}}</button>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
      <button md-ink-ripple class="md-btn md-raised m-b btn-fw purple-400 animated bounceInRight btn-large">{{Options.B}}</button>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6 col-sm-12 col-xs-12" style="margin-right: -13%;">
      <button md-ink-ripple class="md-btn md-raised m-b btn-fw btn-xs purple-400 animated bounceInLeft btn-large">{{Options.C}}</button>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
      <button md-ink-ripple class="md-btn md-raised m-b btn-fw purple-400 animated fadeIn btn-large">{{Options.D}}</button>
      </div>
    </div>
    </h5>

  </div>
  </div>
    <!-- Pause Button -->
        <button md-ink-ripple class="md-btn md-fab md-raised red m-r md-fab-offset pull-left animated bounce" tooltip-placement="left" tooltip-animation="true" tooltip="Pause Game" ng-click="pauseGame()"><i class="mdi-av-pause i-24"></i></button>

        <!-- Hint Button -->
        <button md-ink-ripple class="md-btn md-fab md-raised green-600 m-r md-fab-offset pull-right animated bounceInUp" tooltip-placement="right" tooltip-animation="true" tooltip="Hint" ng-click="showHint()"><i class="mdi-action-info-outline i-24"></i></button>

        <!-- Save Button -->
        <h5 align="center" style="margin-top: 3%;">
          <button md-ink-ripple class="md-btn md-fab blue m-r md-fab-offset" tooltip-placement="bottom" tooltip-animation="true" tooltip="Save" >
            <i class="mdi-content-save i-24"></i>
          </button></h5>
</div>
