<div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar" style="margin-bottom:20%;">
      <div class="navbar-brand m-t-lg text-center">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
                width: 24px; height: 24px;">
          <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
          <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
          <path d="M 8 80 L 50 0 L 50 100 Z" fill="#fff"></path>
          <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(255, 255, 255, 0.6)"></path>
        </svg>
        <span class="m-l inline">{{appName}}</span>
      </div>
    </div>

    <div class="row">
    <div class="col-md-12 animated bounce" align="center" style="margin-bottom: 10%;">
        <h5 align="center">
           <button md-ink-ripple class="md-btn md-fab m-b blue" tooltip-animation="true" tooltip="Play" ui-sref='pre.game'>
           		<i class="mdi-av-play-arrow i-24"></i>
           	</button>
        </h5>
	</div>

	<div>
	<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 animated zoomInDown">
		<h5 align="center">
			<button md-ink-ripple class="md-btn md-fab m-b deep-purple-300" ng-click="showInfo()" tooltip-placement="left" tooltip-animation="true" tooltip="Help">
				<i class="mdi-action-info-outline i-24"></i>
			</button>
		</h5>
	</div>

	<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 animated zoomInUp">
		<h5 align="center">
			<button md-ink-ripple class="md-btn md-fab m-b indigo-A200" ng-click="showHighscore()" tooltip-placement="right" tooltip-animation="true" tooltip="Highscore">
				<i class="mdi-action-star-rate i-24"></i>
			</button>
		</h5>
	</div>

	<div class="col-md-12 animated rubberBand" align="center" style="margin-top: 10%;">
        <h5 align="center">
           <button md-ink-ripple class="md-btn md-fab m-b red" tooltip-animation="true" tooltip="Quit" tooltip-placement="bottom" ng-click="closeApp()">
           		<i class="mdi-navigation-close i-24"></i>
           	</button>
        </h5>
	</div>
	</div>
   </div>

</div>